@import "./base";

@mixin flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  box-sizing: border-box;
  @include flexbox;
  &__list {
    @extend .header;
  }
  &__link-span-first {
    font-weight: 700;
    font-size: 31.1102px;
    line-height: 120%;
    letter-spacing: -0.025em;
    color: #f17228;
  }
  &__link-span-second {
    @extend .header__link-span-first;
    color: #ffb30e;
    position: relative;
    right: 5px;
    bottom: 1px;
  }
  &__link-span-third {
    font-weight: 700;
    font-size: 18px;
    color: #424242;
  }
  &__link-title {
    @extend .header__link-span-third;
    font-weight: 400;
    padding-left: 3px;
  }
  &__list-location {
    position: relative;
    top: 3px;
  }
  &__btn {
    @extend .header;
    gap: 8px;
    padding: 10px 19px;
    margin-left: 30px;
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
      0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 8px;
    border: none;
  }
}
// hero
.hero {
  background-image: url("../images/yellow-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding-bottom: 90px;
  position: relative;
  margin-bottom: 50px;
  &__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 10%;
    padding-top: 50px;
    color: #ffffff;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #504f4f;
  }
  &__form {
    position: relative;
    width: 55%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
  }
  &__form-services {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    &:first-child {
      background: rgba(241, 114, 40, 0.1);
      margin-right: 8px;
    }
  }
  &__form-email-img {
    display: block;
    position: relative;
    top: 45px;
    left: 20px;
  }
  &__form-input {
    @extend .hero__form-services;
    width: 63%;
    height: 44px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #f5f5f5;
    padding-left: 50px;
  }
  &__form-input::placeholder {
    padding-left: 8px;
    font-weight: 400;
    font-size: 18px;
    color: #9e9e9e;
  }
  .form__btn {
    @extend .header;
    position: absolute;
    right: 20px;
    background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
    border-radius: 8px;
    padding: 24px 20px;
    bottom: 26px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  &__bg-meal {
    position: absolute;
    right: 0;
    bottom: -95px;
  }
  .container {
    position: relative;
    right: 7px;
  }
}
// discounts
.discount {
  @extend .header;

  &__img {
    border-radius: 10px;
    margin-bottom: 5px;
  }
  &__number {
    position: relative;
    bottom: 165px;
    width: 45%;
    height: 30px;
    background-color: orange;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 25px;
    font-weight: 700;
    font-size: 60px;
    color: white;
    padding-bottom: 40px;
    sup {
      font-size: 25px;
    }
    sub {
      @extend sup;
      position: relative;
      right: 20px;
      bottom: 13px;
    }
  }
  &__span {
    padding: 8px 16px;
    background: rgba(241, 114, 40, 0.2);
    border-radius: 8px;
    color: orange;
    font-weight: 700;
    font-size: 22px;
  }
  &__title {
    font-weight: 800;
  }
}
// principle
.principle {
  background: linear-gradient(
    180deg,
    rgba(255, 206, 103, 0.22) -42.47%,
    rgba(253, 237, 202, 0) 100%
  );
  padding: 60px;
  &__title {
    font-weight: 700;
    font-size: 43px;
    color: orange;
    text-align: center;
  }
  &__section {
    margin: 0 auto;
    display: flex;
    width: 65%;
    justify-content: space-around;
    &-box {
      text-align: center;
      padding: 0 20px;
      &-title {
        @extend .discount__title;
      }
      &-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #9e9e9e;
      }
      &-img {
        width: 150px;
        height: 90px;
      }
    }
  }
}
// popular
.popular {
  margin-bottom: 40px;
  position: relative;
  &__arrow {
    position: absolute;
    left: -90px;
    &-right {
      position: absolute;
      right: -90px;
    }
  }
  &__title {
    text-align: center;
    margin: 7px 7px 60px 0px;
    &-pic {
      margin-bottom: 5px;
    }
  }
  &__span {
    color: orange;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
  }
  &__number {
    display: block;
    font-weight: 700;
    font-size: 20px;
  }
  &__btn {
    width: 100%;

    font-size: 18px;
    padding: 7px 0;
    background: #f17228;
    box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22),
      0px 20px 40px rgba(250, 99, 35, 0.24);
    border-radius: 8px;
    border: none;
    color: #fff;
  }
}
// restaurants
.restaurants__wrapper {
  @extend .header;
  flex-wrap: wrap;
  &-box {
    position: relative;
    &-span-opening {
      @extend .restaurants__wrapper-box;
      bottom: 50px;
      background: rgba(121, 185, 60, 0.2);
      border-radius: 16px;
      padding: 8px 16px;
      color: green;
      font-weight: 800;
      &--orange {
        background: rgba(241, 114, 40, 0.2);
        border-radius: 16px;
        color: orange;
      }
    }
  }
  &-box-img {
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    &-small {
      padding-right: 10px;
    }
  }
  &-box-span-food {
    display: block;
    position: relative;
    left: 70px;
    bottom: 60px;
  }
  &-box-span-img {
    @extend .restaurants__wrapper-box-span-food;
    bottom: 70px;
  }
  &-number {
    @extend .restaurants__wrapper-box-span-food;
    left: 105px;
    bottom: 89px;
    color: orange;
  }
  &-box-discount {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #df621a;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
  }
  &-box-fast {
    @extend .restaurants__wrapper-box-discount;
    background: #ffb30e;
    left: 130px;
    &-img {
      height: 15px;
      width: 15px;
    }
  }
}
.restaurants__btn {
  margin: 0 auto 50px auto;
  padding: 10px 20px;
  background-color: #ffb30e;
  box-shadow: none;
  color: white;
}
// search
.search {
  background: #fefaf1;
  .container {
    position: relative;
  }
  &__title {
    margin-bottom: 100px;
  }
  &__aside {
    position: absolute;
    top: 0;
    right: 0;
    @extend .header;
    display: block;
  }
  &__span {
    position: relative;
    bottom: 52px;
    color: orange;
    font-weight: 600;
    &-img-wrapper {
      display: inline-block;
    }
  }
  &__span::after {
    content: url("../images/icons/orange-arrow.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    padding-left: 5px;
  }
  &__box {
    @extend .header;
    padding-bottom: 50px;
    &-items {
      margin: 0;
      figcaption {
        text-align: center;
        font-weight: 700;
      }
    }
    &-items-img {
      border-radius: 50%;
    }
  }
}
// install
.install {
  position: relative;
  background: #feefd0;
  padding-top: 60px;
  .container {
    position: relative;
    box-sizing: border-box;
    padding: 0 80px;
  }
  &__delivery {
    @extend .header;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01),
      0px 27px 82px rgba(255, 174, 0, 0.28);
    padding: 30px;
    margin-bottom: 250px;
    &-phone {
      @extend .header;
      z-index: 100;
      &-img {
        position: absolute;
        z-index: 101;
        left: 0;
        bottom: -472px;
      }
      &-text {
        position: absolute;
        top: 400px;
        right: 0;
        padding: 20px;
        width: 30%;
        z-index: 102;
        &-top {
          font-weight: 700;
          font-size: 50px;
          color: orange;
        }
        &-center {
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: #827e7e;
        }
      }
    }
    &-box {
      @extend .header;
      &-text {
        display: block;
        font-size: 30px;
        font-weight: 800;
        color: orange;
        padding: 0 10px 0 20px;
        border-right: 2px solid grey;
      }
    }
  }
  &__background {
    position: relative;
    top: 125px;
    width: 100vw;
    height: 250px;
    border-radius: 60%;
    background-color: #feefd0;
    transform: rotate(1deg);
    transform-origin: left;
    &-two {
      height: 220px;
      width: 100vw;
      background: linear-gradient(261.24deg, #ffae00 63.85%, #ff8a00 111.94%);
    }
  }
  &__btn {
    position: relative;
    border-radius: 8px;
    margin-right: 10px;
    padding: 5px 15px 15px 30px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
      0px 20px 40px rgba(255, 174, 0, 0.29);
    border: none;
    &-img {
      position: absolute;
      top: 10px;
      left: 5px;
    }
    &-title {
      font-weight: 600;
      font-size: 18px;
    }
    &-suptitle {
      text-align: left;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
// footer
.footer {
  background: #212121;
  padding: 70px 0;
}
.table {
  color: #c9bebe;
  width: 40%;
  &__wrapper {
    @extend .header;
  }
  th {
    color: rgb(231, 227, 227);
    text-align: left;
    padding-bottom: 10px;
  }
  td {
    padding-bottom: 10px;
  }
}
.registration {
  &__wrapper {
    color: #c9bebe;
    height: 120px;
  }
  &__title {
    font-size: 16px;
    position: relative;
    bottom: 15px;
    font-weight: 550;
  }
  &__input {
    width: 60%;
    height: 30px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    background: #424242;
  }
  
}
.email__img {
  position: relative;
  bottom: 36px;
  left: 5px;
}
.registration__btn {
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24),
    0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 8px;
  padding: 20px 10px;
  color: white;
  font-weight: 700;
font-size: 15px;
  // margin-left: 10px;
}